body{
    background-color: brown;
    color: rgb(19, 5, 5);
}


p{
    color: aqua;
    font-size: 50px;
 
}

#titulo-importante{
    color: rgb(255, 0, 0);
    font-size: 102000px;
}

img{
    width: 50%;

    }